.sidebar {
    overflow: auto;
}

.sidebar-about {
    line-height: 1.25;
}

.sidebar-about h1 {
    font-family: inherit;
    font-size: 1.75rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: rgba(0, 0, 0, 0)	;
    overflow: hidden;
}

.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
}

.ui-closed:before {
  font-family: monospace;
  content: "+ ";
}

.ui-open:before {
  font-family: monospace;
  content: "- ";
}

dl, ol, ul {
    margin-bottom: 0;
}

th {
    text-align: left;
}

li:last-child {
  margin-bottom: 32px;
}